.pledgeStatus {
  padding: 24px;
}

.pledgeStatus .heading {
  margin-top: 22px;
}

.pledgeStatus .contributionsSummary {
  display: flex;
  align-items: center;
}

.errorMessage{
  margin-top: 10rem;
  text-align: center;
  justify-content: center;
  font-size: 3vh
}