:root {
  --elixir-color-red: #c72127;
  --elixir-toc-border-color: var(--elixir-color-gray-300);
  --elixir-sidebar-width: 300px;
  --elixir-menu-color: var(--elixir-color-gray-700);
  --elixir-menu-hover-color: var(--elixir-color-gray-600);
  --elixir-menu-color-background-hover: var(--elixir-hover-overlay);
  --elixir-menu-color-background-active: var(--elixir-hover-overlay);
  --elixir-menu-color-active: var(--elixir-color-red);
}

.page {
  display: flex;
  width: 100%;
}

.sidebarContainer {
  border-right: 1px solid var(--elixir-toc-border-color);
  -webkit-clip-path: inset(0);
  clip-path: inset(0);
  display: block;
  margin-top: calc(var(--elixir-navbar-height) * -1);
  transition: width var(--elixir-transition-fast) ease;
  width: var(--elixir-sidebar-width);
  will-change: width;
  min-height: 92vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--elixir-navbar-height));
  max-height: 100vh;
  padding-top: var(--elixir-navbar-height);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transition: opacity 50ms;
  width: var(--elixir-sidebar-width);
}

.menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: var(--elixir-font-weight-semibold);
}

.thin-scrollbar {
  scrollbar-width: thin;
}

.menu,
.sidebar {
  overflow-x: hidden;
}

.sidemenu_bottom {
  justify-content: flex-end;
}

.menu__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

li {
  display: list-item;
}

.menu__link {
  color: var(--elixir-color-black);
  flex: 1;
  padding: 1rem;
  justify-content: space-between;
  line-height: 1.25;
  text-align: start;
  font-weight: bold;
}

.menu__link:hover {
  color: var(--elixir-color-red);
}

.menu__link--active:not(.menu__link--sublist) {
  background: var(--elixir-menu-color-background-active);
}

.menu__list-item {
  align-content: flex-start;
}

.menu__list-item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: var(--elixir-global-shadow-lw);
}

.menu__link--active,
.menu__link--active:hover {
  color: var(--elixir-color-red);
}

.menu__list-item:hover {
  color: var(--elixir-color-red);
  background: var(--elixir-menu-color-background-hover);
  border-radius: 0.25rem;
  transition: background var(--elixir-transition-fast)
    var(--elixir-transition-timing-default);
}

.docMainContainer {
  display: flex;
  width: 100%;
}
