.supplierQuotaionUpload .pageContent {
  --elixir-h1-vertical-rhythm-bottom: 1.25;
  --elixir-h1-vertical-rhythm-top: 3;
  --elixir-h2-vertical-rhythm-top: 2;
  --elixir-h3-vertical-rhythm-top: 1.5;
  --elixir-heading-vertical-rhythm-top: 1.25;
  --elixir-heading-vertical-rhythm-bottom: 1;
  width: 100%;
}

.supplierQuotaionUpload .pageContent:before {
  content: "";
  display: table;
}

.supplierQuotaionUpload .pageContent h1:first-child {
  --elixir-h1-font-size: 3rem;
  margin-bottom: calc(
    var(--elixir-h1-vertical-rhythm-bottom) * var(--elixir-leading)
  );
}

.supplierQuotaionUpload .pageHeader {
  display: flex;
  align-self: flex-start;
  padding-top: 10px;
  padding-left: 10px;
}

.uploadSupplierQuotationContainer {
  display: flex;
  margin-left: 10px;
}

.uploadSupplierQuotationContainer p {
  font-size: 17px;
}

.supplierQuotaionUpload .textField {
  height: 16px;

  font-size: 14px;
  line-height: 16px;

  display: flex;
  align-items: center;

  color: var(--elixir-color-gray-900);

  border: none;
  border-radius: 3px;

  flex: none;
  order: 1;
  flex-grow: 1;
}

.supplierQuotaionUpload input:focus,
.supplierQuotaionUpload textarea:focus,
.supplierQuotaionUpload select:focus {
  outline: none;
}

.error-list-div {
  margin-top: 40px;
  font-size: 14px;
  margin-left: 10px;
}
