.info-box {
      height: 300px;
      flex-basis: 40%;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 40px;
      padding-bottom: 30px;
      text-align: center;
      border-radius: 20px;
      margin-bottom: 40px;
      border: 3px solid var(--elixir-color-gray-600);
}

.info-box img{
      height: 160px;
      opacity: 60%;
}

.info-box button {
      height: 35px;
      font-size: 14px;
      width: 150px;
      border: 2px solid var(--elixir-color-gray-600);
      border-radius: 8px;
      color: var(--elixir-color-red);
      background-color: white;
      cursor: pointer;
}