.packageDetails {
  padding: 24px;
}

.packageDetails .descriptionArea {
  flex-grow: 1;
}

.descriptionArea .heading {
  font-weight: 600;
}

.packageDetails .packageName {
  margin-top: 22px;
}

.deleteButtonContainer {
  display: flex;
  justify-content: space-between;
}

.packageDetails .topContainer {
  display: flex;
  margin-top: 10px;
}

.packageDetails .contributionsChart .heading {
  font-weight: 600;
  text-align: center;
}

.packageDetails .contributionsChart .chart {
  display: flex;
  justify-content: center;
}

.packageDetails .contributionsChart {
  width: 350px;
  border: solid #cccccc;
  margin-left: 10px;
  text-align: center;
  padding-bottom: 10px;
}

.edit-desc {
  display: flex;
  align-items: center;
  margin-bottom: -30px;
}

.edit-desc p {
  margin-right: 8px;
}

.desc-edit-icon {
  cursor: pointer;
}
