main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
}

table {
  margin: 0;
  width: 100%;
}

.create-aid-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}

.create-aid-body {
  flex: 1;
  max-height: calc(100vh - 26.5rem);
  overflow: scroll;
}

.bottom-sticky-nav {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}

.bottom-sticky-nav .btn {
  align-self: flex-start;
}

.bottom-sticky-nav .btn.pull-right {
  align-self: flex-end;
}
