.home-page .header-image__text-container {
  max-width: var(--elixir-content-max-width);
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
}

.home-page .header-image__text-container p {
  max-width: 20rem;
  font-weight: 500;
  font-size: 1.15rem;
  margin: 0 2rem;
  padding: 20px;
  background-color: rgba(175, 175, 175, 0.274);
}

.home-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 2rem;
}

.home-heading h1 {
  color: var(--elixir-color-red);
  margin: 0;
}

.home-heading .goal-filter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.package-list {
  margin: 0 2rem;
}

.package-card {
  display: flex;
  margin-bottom: 2rem;
  border: 1px solid var(--elixir-color-gray-500)
}

.card-details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.package-card .card-details__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}

.package-card .card-details__heading h2 {
  color: var(--elixir-color-red);
  margin: 0;
  margin-bottom: .5rem;
}

.package-card .card-details__heading p {
  margin: 0;
}

.card_details__package_progress_text {
  font-size: 1.2rem;
  color: var(--elixir-color-red);
  font-weight: bold;
}

.card_details__package_progress_bar {
  width: 100%;
  height: 1.5rem;
  background-color: var(--elixir-color-gray-500);
  border-radius: .5rem;
}

.card_details__package_progress_bar span{
  display: block;
  width: 100%;
  height: 1.5rem;
  background-color: var(--elixir-color-red);
  border-radius: .5rem;
}

@media (max-width: 600px) {
  .home-heading {
    flex-direction: column;
    gap: 2rem;
  }

  .package-card img {
    display: none;
  }
}
