@import "./styles/root.css";

.App {
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  align-items: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

a {
  cursor: pointer;
  text-decoration: var(--elixir-link-decoration);
}

a:hover {
  color: var(--elixir-link-color);
  transition: color var(--elixir-transition-fast)
    var(--elixir-transition-timing-default);
}

.footer--dark {
  --elixir-footer-background-color: #303846;
  --elixir-footer-color: var(--elixir-footer-link-color);
  --elixir-footer-link-color: var(--elixir-color-secondary);
  --elixir-footer-title-color: var(--elixir-color-white);
}

.footer {
  background-color: var(--elixir-footer-background-color);
  color: var(--elixir-footer-color);
  padding: var(--elixir-footer-padding-vertical)
    var(--elixir-footer-padding-horizontal);
}

.footer-link {
  color: var(--elixir-footer-color);
  text-decoration: none;
}

.main-wrapper {
  flex: 1 0 auto;
  box-sizing: border-box;
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--elixir-heading-color);
  font-family: var(--elixir-heading-font-family);
  font-weight: var(--elixir-heading-font-weight);
  line-height: var(--elixir-heading-line-height);
  margin: var(--elixir-heading-margin-top) 0 var(--elixir-heading-margin-bottom)
    0;
}
