.modal {
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 50%;
  border-radius: 5px;
}

.modal .closeButton {
  float: right;
}
