@import "../../styles/root.css";

.stepper {
  display: flex;
  gap: 1rem;
  border-bottom: 1px dashed var(--elixir-color-gray-700);
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
}

.stepper .divider {
  flex: 1;
  height: 2px;
  background-color: var(--elixir-color-black);
  align-self: center;
}

.step {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  gap: 1rem;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  transition: background-color ease-in-out 150ms;
}

.step:hover {
  text-shadow: 0px 0px 1px var(--elixir-color-black);
  cursor: pointer;
}

.step.no-hover:hover {
  background-color: transparent;
  cursor: default;
}

.step:disabled {
  cursor: not-allowed;
}

.step .step-number {
  width: 1rem;
  height: 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: bold;
  outline: 2px solid var(--elixir-color-gray-900);
  outline-offset: 2px;
  padding: 0.5rem;
  border-radius: 100vmax;
  background-color: var(--elixir-color-gray-400);
  transition: all ease-in-out 150ms;
}

.step:disabled .step-number {
  background-color: var(--elixir-color-gray-400);
}

.step .step-number.active {
  background-color: var(--elixir-color-red);
  color: var(--elixir-color-white);
}

.step:disabled .step-number.active {
  background-color: var(--elixir-color-gray-800);
  color: var(--elixir-color-white);
}
