:root {
  --elixir-navbar-background-color: #fff;
  --elixir-navbar-shadow: var(--elixir-global-shadow-lw);
  --elixir-navbar-height: 3.75rem;
  --elixir-navbar-padding-vertical: calc(var(--elixir-spacing-vertical) * 0.5);
  --elixir-navbar-padding-horizontal: var(--elixir-spacing-horizontal);
  --elixir-z-index-fixed: 4;
  --elixir-navbar-link-color: var(--elixir-font-color-base);
  --elixir-navbar-item-padding-vertical: 0.25rem;
  --elixir-navbar-item-padding-horizontal: 0.75rem;
}

.navbar {
  display: flex;
  box-sizing: border-box;
  background-color: var(--elixir-navbar-background-color);
  box-shadow: var(--elixir-navbar-shadow);
  height: var(--elixir-navbar-height);
  padding: var(--elixir-navbar-padding-vertical)
    var(--elixir-navbar-padding-horizontal);
}

.navbar--fixed-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: var(--elixir-z-index-fixed);
}

.navbar__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.navbar__items {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex: 1;
  min-width: 0;
  height: 100%;
}

.navbar__items--right {
  flex: 0 0 auto;
  justify-content: flex-end;
}

.navbar__toggle {
  display: none;
  margin-right: 0.5rem;
}

.clean-btn {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}

.navbar__brand {
  align-items: center;
  display: flex;
  margin-right: 1rem;
  min-width: 0;
  color: var(--elixir-navbar-link-color);
}

.navbar__logo {
  flex: 0 0 auto;
  height: 2rem;
  margin-right: 0.5rem;
}

.navbar__logo img {
  height: 100%;
}

.themedImage--light {
  display: initial;
}

.navbar__title {
  flex: 1 1 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.navbar__item {
  display: inline-block;
  padding: var(--elixir-navbar-item-padding-vertical)
    var(--elixir-navbar-item-padding-horizontal);
}

.navbar__link {
  color: var(--elixir-navbar-link-color);
}

.iconExternalLink_gzkf {
  margin-left: 0.3rem;
  position: relative;
  top: 1px;
}

.logout-btn {
  background: none;
  border: none;
  padding: 0;
  color: var(--elixir-navbar-link-color);
  padding: 0 15px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}

.logout-btn:hover {
  color: var(--elixir-color-gray-400);
}
