.about-us .header-image {
  color: var(--elixir-color-white);
}

.about-us-container {
  z-index: 1;
  width: var(--elixir-content-max-width);
}

.about-us .header-image::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--elixir-color-gray-900);
  opacity: 60%;
  position: absolute;
  z-index: 0;
}

.about-us .header-image h1 {
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  margin-left: 175px;
  font-size: 2.5rem;
}

.volunteers-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  padding-bottom: 40px;
}

.accountability-and-transparency-section {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
}

.middle-text-container {
  width: 20%;
  text-align: center;
}

.leadership-section {
  margin-top: 2rem;
}

.about-us h2 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 48px;
  font-size: 1.98rem;
  font-weight: 600;
  line-height: 2rem;
  color: #222;
}

.about-us .text-section {
  padding-top: 30px;
  margin: 0 6rem 2rem 6rem;
  line-height: 160%;
}

.about-us .info-links-section {
  display: flex;
  gap: 2px;
  margin-bottom: 2rem;
}

.info-link-card {
  display: flex;
  flex-direction: column;
  height: 240px;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  color: var(--elixir-color-white);
  text-align: center;
}

.info-link-card__link-text {
  display: flex;
  flex-direction: column;
}

.info-link-card__link-text__heading {
  font-style: italic;
}

.info-link-card__link-text__sub-heading {
  font-weight: var(--elixir-font-weight-bold);
  font-size: 1.4rem;
  margin: 0.25rem 0 1.5rem;
  text-transform: uppercase;
}

.info-card__circle-arrow {
  border: var(--elixir-color-white) 2px solid;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.leadership-image-section {
  justify-content: center;
}

.leadership-image-section img {
  max-width: 100%;
}

.partner-card-container {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  margin-top: 4rem;
  margin-bottom: 1rem;
  justify-content: space-around;
}

.partner-section-card {
  text-align: center;
}

.partner-section-card img {
  margin-bottom: 0.5rem;
  max-width: 12rem;
  border-radius: 10px;
}

.partner-section p {
  text-align: left;
}

.full-width-section {
  display: flex;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1611735341450-74d61e660ad2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
  background-size: cover;
  background-position: top;
}

.full-width-section__inner_container {
  max-width: var(--elixir-content-max-width);
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.full-width-section__feature-text {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  background-color: var(--elixir-color-gray-800);
  color: var(--elixir-color-white);
  padding: 3rem;
  right: 0;
  margin: 3rem 2rem;
  max-width: 300px;
}

.profile-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  padding-bottom: 40px;
}

.profile-card {
  margin-top: 20px;
}

.profile-card h3 {
  font-weight: 600;
  margin-top: 10px;
}
.profile-card a {
  text-decoration: none;
  color: black;
}

.profile-card p {
  margin-top: -15px;
}
