.navbar {
    background-color: var(--elixir-color-red);
}

.navbar-container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: var(--elixir-content-max-width);
    margin: 0 auto;
}

.logo {
    height: 70px;
    background-color: white;
    width: 180px;
    cursor: pointer;
    display: flex;
}

.logo img {
    width: 128px;
    margin: auto;
}

.nav-links {
    background-color: var(--elixir-color-red);
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.nav-link {
    color: white;
    padding: 0 15px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}

.nav-link.active{
    font-weight: 600;
}

.nav-link:hover {
    color: var(--elixir-color-gray-400);
}

.logout-btn {
    background: none;
    border: none;
    color: white;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
}

.logout-btn:hover {
    color: var(--elixir-color-gray-400);
}

.login-btn {
    background-color: #f7f7f7;
    background-image: linear-gradient(#f7f7f7, #e7e7e7);
    border-radius: 50%;
    box-shadow: 3px 3px 1px rgb(190, 190, 190), inset 0 2px 3px #fff;
    color: var(--elixir-color-red);
    display: block;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    top: 20%;
    width: 75px;
    height: 75px;
    z-index: 1;
    text-align: center;
    line-height: 70px;
    border: none;
    cursor: pointer;
    margin-left: 8px;
}

.login-btn:hover {
    color: red;
}
