.medical-needs-page {
  margin-top: 48px;
}

.medical-needs-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}

.medical-needs-heading h1 {
  margin: 0;
}

.medical-needs-heading .goal-filter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.text-blue {
  color: blue;
  border: none;
  background: none;
  cursor: pointer;
}

.package-list {
  margin: 2rem 0;
}

.package-image {
  width: 275px;
}

.package-card {
  height: 17rem;
  display: flex;
  margin: 1rem;
  border: 1px solid var(--elixir-color-gray-500);
}

.card-details {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.package-card .card-details__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.package-card .card-details__heading h2 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.package-card .card-details__heading p {
  margin: 0;
}

.package-card .card-details__heading__text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.package-card .card_details__description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card_details__package_progress_text {
  font-size: 1.2rem;
  font-weight: bold;
}

.card_details__package_progress_bar {
  width: 100%;
  height: 1.5rem;
  background-color: var(--elixir-color-gray-500);
  border-radius: 0.5rem;
}

.card_details__package_progress_bar span {
  display: block;
  width: 100%;
  height: 1.5rem;
  background-color: var(--elixir-color-red);
  border-radius: 0.5rem;
}

@media (max-width: 600px) {
  .package-card img {
    display: none;
  }

  .package-card .card-details__heading__text {
    font-size: 1.3em;
  }

  .package-card .card_details__package_progress_text {
    font-size: 1rem;
  }

  .medical-needs-heading {
    display: block;
    margin: 1rem;
  }

  .medical-needs-page {
    margin-top: 0px;
  }

  .btn {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .goal-filter {
    margin-top: 1rem;
  }

  .package-list {
    margin: 0px;
  }

  .empty-state-text {
    margin: 1rem;
  }
}
