.footer {
  height: auto;
  background-color: rgb(194, 76, 76);
  text-align: center;
}



.footer .footer-gray {
  position: relative;
  padding-bottom: 2rem;
  padding-top: 4rem;
  background-color: #333333;
}

.footer .footer-gray img {
  position: absolute;
  left: 6%;
  height: 120px;
  border-radius: 50%;
}

@media screen and (min-width: 1096px) {
  .footer .footer-gray img {
    left: 12%;
  }
}

@media screen and (max-width: 810px) {
  .footer .footer-gray img {
    top: -40px;
    height: 70px;
  }
}

.footer .footer-gray p {
  font-size: 0.8125rem;
  width: 50%;
  text-align: justify;
}

.footer .footer-gray .footer-gray-top {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  width: 60%;
  margin-bottom: 30px;
}

.icons {
  display: flex;
  font-size: 17px;
}

.icon {
  color: #333333;
  align-self: center;
  margin: 10px;
  background-color: white;
  border-radius: 50%;
  padding: 10%;
}

.icons p {
  letter-spacing: 3px;
  color: var(--elixir-color-gray-600);
}

.footer-gray-middle {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 0.8125rem;
  margin: auto;
  width: 65%;  
}

.footer-gray-middle span {
  color: white;
}

.text-link {
  color: white;
  padding: 0 10px; 
}

.text-link:not(:last-child) {
  border-right: 1px solid white;
}

.footer-gray-bottom {
  height: 60px;
  background-color: #333333;
  display: flex;
  align-items: center;
}

.footer-gray-bottom p {
  font-size: 0.81rem;
  text-align: center;
  font-weight: 300;
  color: #c3c3c3;
  margin: auto auto 35px auto;
}

.footer-gray-bottom  a {
  text-decoration: underline;
  color: #c3c3c3; 
}

.footer-gray-bottom .nav {
  display: flex;
  align-items: center;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 50%;
  margin: 0 8px;
}
