.footer {
  height: auto;
  background-color: rgb(194, 76, 76);
  text-align: center;
}

.footer .footer-red {
  background-color: var(--elixir-color-red);
  min-height: 210px;
  padding: 40px 0 20px 0;
}

.footer .footer-red h1 {
  color: rgb(255, 255, 255);
  margin-bottom: 25px;
}

.footer-red .actions .btn {
  min-width: 250px;
  font-weight: 600;
  padding: 12px;
  height: auto;
}

.footer p {
  color: white;
  font-size: 18px;
  width: 30%;
  margin: auto;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer .footer-black {
  /* height: 70px; */
  position: relative;
  padding: 2rem 0;
  background-color: black;
  /* padding: 40px; */
  /* padding-top: 100px; */
  /* padding-bottom: 40px; */
}

.footer .footer-red button {
  margin: 20px;
  height: 33px;
  font-size: 15px;
  font-weight: 500;
  background-color: white;
  color: var(--elixir-color-red);
  border-radius: 10px;
  border: var(--elixir-color-gray-700) solid 1px;
}

.footer .footer-red span {
  color: white;
  font-size: 18px;
}

.footer .footer-black img {
  position: absolute;
  top: -50%;
  height: 150px;
  border-radius: 50%;
}

.footer .footer-black p {
  font-size: 13px;
  width: 50%;
  text-align: justify;
}

.footer .footer-black .footer-black-top {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  /* margin-top: -70px; */
  width: 60%;
  /* margin-left: 250px; */
  margin-bottom: 30px;
}

/* .footer-black-top p {
} */

.icons {
  display: flex;
  font-size: 17px;
}

.icon {
  color: white;
  align-self: center;
  margin: 10px;
}

.icons p {
  letter-spacing: 3px;
  color: var(--elixir-color-gray-600);
}

.footer-black-bottom {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  margin: auto;
  width: 65%;
  font-weight: 600;
}

.footer-black-bottom:hover a {
  padding: 0 18px;
}

.footer-black-bottom span {
  color: white;
}

.text-link {
  color: white;
  padding: 0 25px;
  transition: all 0.5s;
}

a.text-link:hover {
  padding: 0 60px;
}

.text-link:not(:last-child) {
  border-right: 1px solid white;
}

.footer-gray {
  height: 60px;
  background-color: var(--elixir-color-gray-600);
  display: flex;
  padding-left: 270px;
  padding-right: 270px;
  align-items: center;
}

.footer-gray p {
  font-size: 10px;
  width: 300px;
  text-align: left;
  margin-left: 10px;
}

.footer-gray > div a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 500;
}

.footer-gray .nav {
  display: flex;
  align-items: center;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 50%;
  /* display: inline-flex;
  align-items: center; */
  margin: 0 8px;
}
