.news-room .header-image {
  color: var(--elixir-color-white);
}

.news-room .header-image::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--elixir-color-gray-900);
  opacity: 60%;
  position: absolute;
  z-index: 0;
}

.news-room__container {
  z-index: 1;
  width: var(--elixir-content-max-width);
}

.news-room .header-image h1 {
  padding: 0 6rem;
  color: var(--elixir-color-white);
  text-align: left;
  margin-left: 113px;
}

.news-room h1 {
  text-align: center;
  font-size: 2.5rem;
}

.news-room h2 {
  font-size: 2rem;
}

.news-room .text-section {
  padding-top: 30px;
  line-height: 160%;
}

.news-room .red {
  color: var(--elixir-color-red);
}

.news-room .contact-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
}

.news-room .news-article-list {
  display: flex;
  margin: 3rem 0;
  flex-direction: column;
}

.news-room .news-title {
  padding-bottom: 1.8rem;
}

.news-room .news-article-list-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  gap: 0.5rem;
  border-bottom: var(--elixir-color-gray-500) 1px solid;
}

.news-article-list-item a{
  text-decoration: black;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 10rem);
  gap: 5px;
}

.news-grid__large-item {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.news-grid div {
  display: flex;
  background-size: cover;
}

.news-grid div h3,
h4 {
  color: var(--elixir-color-white);
  align-self: flex-end;
  padding: 0 1rem;
}

.news-room .video-section {
  margin: auto;
}

.news-room .video-section .video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .text-section, .news-article-list{
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sub-title{
    max-width: 14rem;
    margin: auto;
  }

  .contact-section{
    text-align: center;
    margin-top: 1.5rem;
  }

  .news-article-list-item{
    text-align: justify;
  }
}